.container {
	border: 10px solid black;
	display: grid;
	grid-template-columns: [column-1] 1fr [column-2] 3fr [column-end];
	grid-template-rows: 1fr 200px 100px;
	grid-template-areas: "header header" "sidebar main" "footer footer";
	row-gap: 10px;
	column-gap: 5px;
	block-size: 100vh;
}

.item {
	border: 5px solid red;
	counter-increment: item;
}

.item:nth-of-type(1) {
	grid-area: header;
}

.item:nth-of-type(2) {
	border-color: blue;
	grid-area: sidebar;
}

.item:nth-of-type(3) {
	border-color: green;
	grid-area: main;
}

.item:nth-of-type(4) {
	grid-area: footer;
	margin-block-start: 10px;
}
