.hourCell {
	place-self: start end;
	transform: translateY(-50%);
	padding-inline-end: 1rem;
	font: var(--body3-regular);
	position: relative;
	counter-increment: item;
}

.hourCell::before {
	inline-size: 0.5rem;
	block-size: 1px;
	background: currentColor;
	content: "";
	position: absolute;
	inset-inline-end: 0;
	inset-block-end: 50%;
}
