.container {
	display: grid;
	grid-template-columns: [column-1] 200px [column-2] 500px [column-end];
	grid-template-rows: 100px 600px;
}

.item {
	border: 1px solid red;
	counter-increment: item;
}

.item:nth-of-type(1) {
	/* grid-column-start: column-1;
	grid-column-end: column-end; */
	grid-column: column-1 / column-end;
}
